body {
  min-height:100vh;
  text-align: center;
  background-color: ;
  background-image: linear-gradient(to bottom right, rgba(91,138,238,.9),orange);

}

h1 {
  font-size: 8vw;
  color: #edf1f2;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0  9px rgb(0,0,0);
  text-align:center;

}

footer {
  color: #edf1f2;
  font-family: sans-serif;

}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}


.container {
  width: 100%;
  margin: auto;
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: black;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #edf1f2;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 7px solid #404B69;
  font-size: 8rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: rgb(208,55,42);
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 300px;
  height: 300px;
  text-align: center;
  margin: 10px;
  background-color: rgb(274,208,95);
}

/* ||||||||||||||||||||||||||| Media Breaks ||||||||||||||||||||||| */



@media (max-width:420px) {
  .drum {
    outline: none;
    border: 4px solid #404B69;
    font-size: 3rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: rgb(208,55,42);
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 10px;
    background-color: rgb(274,208,95);
  }

  .w {
    background-size: 100px 100px;
    background-image: url("images/tom1.png");
  }

  .a {
    background-size: 100px 100px;
    background-image: url("images/tom2.png");
  }

  .s {
    background-size: 100px 100px;
    background-image: url("images/tom3.png");
  }

  .d {
    background-size: 100px 100px;
    background-image: url("images/tom4.png");
  }

  .j {
    background-size: 100px 100px;
    background-image: url("images/snare.png");
  }

  .k {
    background-size: 100px 100px;
    background-image: url("images/crash.png");
  }

  .l {
    background-size: 100px 100px;
    background-image: url("images/kick.png");
  }

  body {
    min-height:100vh;
    background-image: linear-gradient(to bottom, rgba(91,138,238,.9),orange);
  }
}
